body {
    background-color: #404258;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

h1 {
    font-size: 36px;
    margin: -8px;
    margin-top: auto;
}

div {
    margin: 8px;
}

button, input {
    background-color: #6b728e;
    border: 4px;
    margin: 8px;
}

button:hover, input:hover {
    background-color: #7981a5;
}

button, img {
    transition: color .6s .4s;
}

.refresh, a {
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background-color: #262838;
    text-align: center;
    margin: 0px 0px auto 0px;
    border: 0px;
    padding: 16px;
}